.login-form-container {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  width: 400px;
  height: 230px;
  padding: 20px;
  border-radius: 2px;
}

.login-form-container form {
  opacity: 100 !important;
}

.login-form-container form button {
  background: #65a92b;
  width: 100px;
  height: 40px;
  margin-top: 30px;
  float: right;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  box-shadow: 0px 2px 8px gray;
  cursor: pointer;
}

.login-form-container form button:focus {
  outline: none;
}

.login-errormessage {
  font-size: 12px;
  color: red;
  margin-top: 0;
}
