/*$color-body: #1abc9c;
$color-accent: #16a085;
$color-input: #fff;
*/

.LoginRegisterForm input[type='radio'] {
  position: fixed;
  left: -100px;
}

.LoginRegisterForm input:not([type='radio']) {
  appearance: none;
  background-color: #fff;
  display: block;
  transition: 300ms ease;
  border-radius: 7px;
  border: 0;
  max-height: 0;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  width: 250px;
  opacity: 0;
  font-size: 16px;
  text-align: center;
  outline: 0;
}

#sign-in:checked ~ input.sign-in,
#sign-up:checked ~ input.sign-up {
  max-height: 40px;
  padding: 10px;
  margin: 10px 0;
  opacity: 1;
}

.LoginRegisterForm button {
  width: 250px;
  height: 40px;
  border-radius: 7px;
  background-color: #16a085;
  font-size: 0;
}
button::before {
  font-size: 16px;
}

#sign-in:checked ~ button:before {
  content: 'Login';
}
#sign-up:checked ~ button:before {
  content: 'Register';
}

.LoginRegisterForm label {
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  color: #16a085;
  transition: 300ms ease;
  width: calc(100% / 3 - 4px);
}
.LoginRegisterForm label:after {
  content: '';
  border: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  transition: inherit;
}

#sign-in:checked ~ [for='sign-in'],
#sign-up:checked ~ [for='sign-up'] {
  color: #fff;
}

#sign-in:checked ~ [for='sign-in']:after,
#sign-up:checked ~ [for='sign-up']:after {
  border-bottom-color: #fff;
}

.flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  text-align: center;
}

body {
  background-color: #d1d1d1;
  font-size: 16px;
}
