.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #070606;
  color: white;
  height: 84px;
}


.RightButtonsContainer {
  display: flex;
  height: 100%;
}


.icon {
  height:110px;
}

.header-title {
  margin-left: 60px;
}
.header-title:hover {
  cursor: pointer;
}
.kingdomNameLink{
  text-decoration: none;
  color: black;
}



.header-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
  color:lightgray;
  font-weight: bolder;
  background: transparent;
  cursor: pointer;
  color: black;
  font-weight: 700;
  margin: 0;
}

.header-button-container:hover {
  color: white;
  background: #3f5c79;
}
.RightButtonsContainer .selected{
color: white;
background: #3f5c79;
border-radius: 0;
}

.header-button-text{
  font-size: 20px;
  font-weight: larger;
}

.buttonLink{
  text-decoration: none;
}