p {
  color: lightgray;
  font-weight: normal;
}
.one-meme {
  background-color: #222629;
  width: 300px;
  margin: auto;
  border-radius: 3px;
  margin-top: 20px;
  padding: 15px;
}

.meme-label {
  font-size: large;
  font-weight: bolder;
  color: #acc6c7;
}

.onememe-button {
  color: lightgray;
  font-weight: bolder;
  background-color: #222629;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 25px;
}

.comment-visibality {
  color: #222629;
  background-color: #94b8b9;
  border-radius: 10px;
  border-style: solid;
  border-color: #222629;
  border-width: 1px;
  padding: 8px;
  margin: 5px;
}

.reaction-img {
  background-color: #222629;
  width: 30px;
  height: 30px;
}
