img {
  height: 150px;
  margin: 10px;
}

.gallery-container {
  width: 1000px;
  flex: flex-wrap;
  background-color:  #222629;
  border-radius: 3px;
  margin: 20px;
}

.scrollbar {
  overflow-y: scroll;
  height: 500px;
}

.gallery-title {
  font-size: 25px;
  color:#fffeeb;
  font-weight: bolder;
}