.meme-form-container {
  height: 50vh;
  align-items: center;
}

.meme-form-container img{
  width: 500px;
  height: auto;
}
.meme-form-container form input {
  height: 50px;
  width: 100px;
}
.meme-form-container input:not([type="radio"]) {
  height:50px;
  width: 90%;
}
.meme-form-container fieldset form input {
  margin: auto;
}
.meme-form-container div button:before { content: 'Submit'; }

.img-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
